src/examples/CMakeFiles
src/examples/deps/piot
src/examples/Makefile
src/examples/cmake_install.cmake
deps/piot
src/CMakeFiles
src/cmake-build-debug
src/lib/CMakeFiles
src/lib/CMakeCache.txt
src/lib/Makefile
src/lib/cmake_install.cmake
src/CMakeCache.txt
src/cmake_install.cmake
src/Makefile
.vscode
build
src/.idea
src/cli/CMakeFiles
src/cli/deps/piot
src/cli/Makefile
src/cli/cmake_install.cmake
src/cli/secret.txt
src/cli/users.txt
src/deps/piot
src/lib/libguise-session-client.a
src/cli/guise_sessions_client_cli
src/cli/guise_session_client_cli
